@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    font-family: 'latoregular';
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.filter_sort {
    height: 132px;
    padding-top: 39px;
    block-size: border-box;
    position: relative;
    display: flex;
    gap: $gapGrid;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    // top: 39px;

    &_content {
        background-color: #fff;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    &[open] {
        background-color: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }


    &[open] .filter_heading {
        /*добавляем стиль при открытом эллементе*/
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &_summery {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &_heading {
        color: $colorText;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
    }

    &_item {
        margin-top: 16px;
    }



    &_link_box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 17px;
        /*24 сверху и снизу, 17 слева и справа*/
    }

    &_link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $colorSelectSite;
            /* эффект наведения*/
        }
    }

    &_head {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        /* нижняя серая рамка */
        border-left: 5px solid $colorSelectSite;
        /* розовая рамка слева шириной 5px*/
    }

    &_item[open] .filter_head {
        /*когда открыт меняется цвет*/
        color: $colorSelectSite;
    }


}

.sort {
    padding-top: 12px;
    display: flex;
    /* чтобы выставить по горизонтали*/
    gap: 18px;

    &_details {
        position: relative;
        /*точка отсчета*/
    }

    &_summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_check {
        display: flex;
        gap: 9px;
        align-items: center;
    }

    &_check {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }


    &_heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
    }

    &_box {
        display: flex;
        flex-direction: column;
        gap: 6px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        /* сверху справа снизу слева */
        position: absolute;
        left: -9px;
        top: 22px;
    }
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;


    // @extend %flex;
    &_left {
        /* значение & вместо header*/
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &_round {
        margin-left: -25px;
        padding: 12px;
        position: relative;
    }
    &_five {
        position: absolute;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 162.5px;
        margin-top: -32px;
    }
 
}



.product_box {
    @include centerflex();
    gap: $gapGrid;
}

.main_photo {
    background-color: #F7F7F7;
    @include centerBox();
    padding-top: 11px;
    padding-bottom: 42px;

}



.main_content {
    @include centerBox();
    transform: translate(-50px, -50px);
    width: 1140px;
    height: 600.177px;
    flex-shrink: 0;
    border: 1px solid #EAEAEA;
    background:  #FFF;


    &_heading {
        color: $colorSelectSite;
        font-family: 'latolight';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-top: 64.54px;
        padding-bottom: 12px;
    }

    &_path {
        padding-bottom: 12px;
    }

    &_head {
        color: #4D4D4D;
        font-family: 'latolight';
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-bottom: 48.41px;
    }

    &_text {
        color: #5E5E5E;
        text-align: center;
        font-family: 'latolight';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 555px;
        padding-bottom: 32.27px;
    }

    &_price {
        color: $colorSelectSite;
        font-family: 'latolight';
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-bottom: 64.04px;
    }

    &_path-two {
        stroke-width: 1px;
        stroke: #EAEAEA;
        padding-bottom: 65.05px;
    }


}

.add {
    border: 1px solid $colorSelectSite;
    margin-top: 53px;
    margin-bottom: 65px;
    @include centerflex();
    gap: 23px;

    &_image {
        padding-left: 24px;
    }

    &_text {
        color: $colorSelectSite;
        text-align: center;
        font-family: 'latolight';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 15px;
        padding-bottom: 14px;
        padding-right: 57px;
    }
}

.product {
    width: 360px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    &_img {
        width: 100%;
    }


    &_background {
        background-color: #F7E4E2;
        max-width: 360px;
        max-height: 420px;
    }

    &_img2 {
        display: flex;
        width: 141.943px;
        height: 400px;
        flex-shrink: 0;
        background: lightgray 0px 0px / 100% 100% no-repeat;
        background-color: #F7E4E2;
        padding: 9px 109.06px 11px 108px;
    }

    &_content {
        /*& заменяет product*/
        background-color: #f8f8f8;
        padding: 24px 16px;
        /* отступ снизу сверху и слева справа*/
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &_name {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }

    &_text {
        font-family: 'latolight';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
    }

    &_price {
        color: $colorSelectSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


/*прячем checkbox, но функционал остается*/

#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked~.nav {
        /*id burger, когда burger checked навигация рядом */
        right: -$widthBurgerMenu;
    }
}


.box_content {
    overflow: hidden;
    /*скрыть перекрытие */
}


.nav {
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 81.25px;
    right: 0;
    transition: right .03s;
}

.home_link {
    padding-left: 25px;
    padding-right: 42px;
}

.top_head {
    background-color: #F1E4E6;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
    }
}



.breadcrumbs_link {
    color: #636363;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 300;
}

.breadcrumbs_link_site {
    font-weight: 700;
    color: $colorSelectSite;
}


.conditions {
    // height: 341px;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gapGrid;

    
    &_one {
        @include headingConditions();
        @include textConditions();
    }

    &_img-one {
        padding-top: 103px;
        padding-bottom: 28px;
    }

    &_heading-one {
        padding-bottom: 16px;
    }

    &_text-one {
        padding-bottom: 104px;
    }

    &_two {
        @include headingConditions();
        @include textConditions();
    }

    
    &_img-two {
        padding-top: 104px;
        padding-bottom: 19px;
    }

    &_heading-two {
        padding-bottom: 16px;
    }

    &_text-two {
        padding-bottom: 104px;
    }

    &_three {
        @include headingConditions();
        @include textConditions();

    }

    &_img-three {
        padding-top: 103px;
        padding-bottom: 25px;
    }

    &_heading-three {
        padding-bottom: 16px;
    }

    &_text-three {
        padding-bottom: 104px;
    }

}

.box_center {
    @include centerBox();
    max-width: 360px;
}

.subscription {
  
    background-image: url("img/Layer_subsc.png");
    background-size: cover;
    background-color:rgba(244, 244, 244, 0.70);
    background-blend-mode: overlay;
        
    &_background {
        min-height: 100%;
        min-width: 640px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
      
    }
    

    &_box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 223px;
       
    }

    &_left {
        @include centerBox();
        max-width: 359.5px;
    
    }


    &_image-box{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &_image {
        margin-top: 97px;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    &_text {
        padding-bottom: 126px;
        color: $colorText;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_text-two {
        color: $colorText;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;

    }
    
    &_right {
        @include centerBox();
    }

    &_heading {
        color: $colorText;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 22px;
    }

    &_heading-two {
        color: $colorText;
        text-align: center;
        max-width: 557px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_email {
        display: flex;
    }

}

.email {

    border-radius: 20px 0 0 20px;
    width: 322.59px;
    height: 49px;
    flex-shrink: 0;
    fill: #E1E1E1;
    border: 1px solid #E1E1E1;

    &_place {
        padding-left: 22px;
        display: flex;
        width: 170px;
        height: 36px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: $colorText;
        font-family: 'latolight';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    &_submit {
 
        border-radius: 0 20px 20px 0;
        border-style: solid;
        background-color: #F16D7F;
        border-color: #F16D7F;
        margin-left: -50px;
    }

    &_subscribe {
        display: flex;
        width: 85px;
        height: 36px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: $colorTextWhite;
        text-align: center;
        font-family: 'latolight';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


}

.footer {
    background-color: $backBlock;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
   
    &_left {
        padding-left: 235px;
    }

    &_text{
        color: $colorTextWhite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &_right {
        padding-right: 230px;
    }

    &_icon {
        padding-top: 25px;
        padding-bottom: 22px;
    }
}
